div {
    padding-left: 10em;
    font-family: Georgia, "Times New Roman",Times, serif;
    color: purple;
}

form-line{
    padding-left:0;
}

.intro {
    padding-left: 29em;
    font-family: Georgia, "Times New Roman",Times, serif;
    color: purple;
}